/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: content-box;
  }
  
  /* Body Settings */
  body {
    font-family: papyrus, sans-serif;
    margin: 0;
    background-color: #616d69;
  }
  
  /* Header CSS Settings */
  header {
    max-width: 100%;
    max-height: 100%;
    padding: 0px;
    text-align: center;

  }
   /*Navigation Bar*/
  nav {
    display: flex;
    background-color: #c3b291;
  }
  
  nav p {
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Main body*/
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Side bar CSS settings */
  aside {
    width: 300px;
    background-color: #87b1cb;
    min-height: 750px;
  }
  
 /* .card-work {
    flex: 1;
    background-color: #fff;
    padding: 5px;
    border: 1px dashed;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 50%;
    display: flex;
    }
*/
  .card-work {
    min-height: 750px;
    flex: 1;
    background-color: #fff;
    padding: 5px;
    border: 1px dashed;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 50%;
    display: flex;
  }

  .card-contact {
    flex: 1;
    background-color: #fff;
    padding: 5px;
    border: 1px dashed;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 50%;
    display: flex;
  }

  /* Tablets - header and Navigation bar changes color */
  @media screen and (max-width: 1000px) {
    header {
      background: #819396;
    }
  }
  
  /* With medium screens such as tablets, the navigation bar and header changes color */
  @media screen and (max-width: 1000px) {
    nav {
      background-color: #f8d598;
    }
  }
  
  